extends layouts/default.pug

block head 
    title Giới thiệu 

block main 

    //-About

    div(class="about")
        div(class="container")
            div(class="about__wrap")

                div(class="about__left")
                    div(class="about__image")
                        img(src="assets/images/car-repair.svg", alt="")
                    div(class="about__socials")
                        a(href="") <i class="fa-brands fa-facebook-f"></i>
                        a(href="") <i class="fa-brands fa-x-twitter"></i>
                        a(href="") <i class="fa-brands fa-tiktok"></i>
                        a(href="") <i class="fa-brands fa-instagram"></i>

                div(class="about__right")
                    h3(class="about__title") Về Chúng Tôi

                    p(class="about__desc") Chào mừng bạn đến với Mewing - nơi bạn có thể tin tưởng để quản lý, cho thuê và bảo dưỡng xe một cách dễ dàng và hiệu quả nhất. Với đội ngũ chuyên nghiệp và mạng lưới rộng khắp, chúng tôi cam kết mang đến trải nghiệm khách hàng đẳng cấp và tiện lợi.

                    p(class="about__desc") Tại Mewing, chúng tôi không chỉ cung cấp dịch vụ chất lượng mà còn tạo ra một môi trường thoải mái và an toàn cho mọi loại hành trình. Hãy đồng hành cùng chúng tôi để trải nghiệm sự khác biệt và tiện ích mà chúng tôi mang lại cho cuộc sống hàng ngày của bạn.

    //-Member

    -
        var teamMember = 
        [
            {
                name: 'Nguyễn Tuấn Anh',
                image: 'assets/images/tuananh.jpg',
                desc: 'Nhóm trưởng với tính cách hiền lành, trầm tính và chăm chỉ. Sự hoà đồng và linh hoạt của Tuấn Anh tạo nên một môi trường làm việc tích cực và hòa thuận cho các thành viên trong nhóm..',
                facebook: 'https://www.facebook.com/anh.nguyentuan.169067',
                tiktok: 'https://www.tiktok.com/@anhnguyentuan027',
                insta: 'https://www.instagram.com/tuanemtramtinh/',
            },
            {
                name : 'Ngô Ngọc Triệu Mẫn',
                image: 'assets/images/man.jpg',
                desc : 'Là thành viên nữ duy nhất của nhóm. Với sở thích quay tóp tóp, và một chút vô tri, Triệu Mấn mang lại niềm vui cho mọi người trong các buổi làm việc.',
                facebook: 'https://www.facebook.com/profile.php?id=100022328329551',
                tiktok: 'https://www.tiktok.com/@kandy_trieuman27?lang=vi-VN',
                insta: 'https://www.instagram.com/tm_kandy275/',
            },
            {
                name : 'Nguyễn Trần Minh Anh',
                image: 'assets/images/minhanh.png',
                desc : 'Có sở thích với môn xác suất thống kê, tính được hầu hết các xác suất nhưng không tính được xác suất ở bên cạnh người mình yêu.',
                facebook: 'https://www.facebook.com/ghostng04',
                tiktok: 'https://www.tiktok.com/@ntma270404?lang=vi-VN',
                insta: 'https://www.instagram.com/gh.anh04/',
            },
            {
                name : 'Dương Thanh Tú',
                image: 'assets/images/tu.jpg',
                desc : 'Thành viên lớn nhất của nhóm. Thanh Tú có nhiều kiến thức, kinh nghiệm cũng như trải nghiệm để giúp đỡ các thành viên khi gặp khó khăn.',
                facebook: 'https://www.facebook.com/Supreme3Bye',
                tiktok: 'https://www.tiktok.com/@gayslaye542003?_t=8liE5JWO6in&_r=1',
                insta: '#',
            },
            {
                name : 'Trần Gia Quí',
                image: 'assets/images/qui.jpg',
                desc : 'Là 1 fan bóng đá đích thực, nên Gia Quí là người có nhiều năng lượng, luôn chủ động trong các công việc nhóm cũng như các hoạt động thể thao khác. ',
                facebook: 'https://www.facebook.com/profile.php?id=100010376584325',
                tiktok: 'https://www.tiktok.com/@giaqui08?_t=8liDHBwCW7l&_r=1',
                insta: 'https://www.instagram.com/giaquy08/',
            }
        ];

    div(class="member")
        div(class="container")
            div(class="member__wrap")

                div(class="member__intro")
                    h2(class="member__title") thành viên của nhóm
                    h3(class="member__sub-title") Hãy cùng nhau gặp gỡ các thành viên của nòng cốt của công ty Mewing nhé.

                div(class="member__list grid grid-cols-3 gap-[30px]")
                    each member in teamMember
                        div(class="member__item")
                            div(class="member__item-image")
                                img(src=member.image, alt="")
                            div(class="member__item-content")
                                div(class="member__item-name") #{member.name}

                                div(class="member__item-desc") #{member.desc}

                                div(class="member__item-socials")
                                    a(href=member.facebook) <i class="fa-brands fa-facebook-f"></i>
                                    a(href=member.tiktok) <i class="fa-brands fa-tiktok"></i>
                                    a(href=member.insta) <i class="fa-brands fa-instagram"></i>

